[Desktop Entry]
Version=1.0
Type=Application
Name=wakeup
Comment=Chicken Wakeup Reminder
Exec=wakeup
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=Utility
Terminal=false
StartupNotify=true
StartupWMClass=wakeup
Name[en_US]=Wakeup
